# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

.env
helper_scripts/*.csv

# KiCad generated, personal, and backup files
hardware/KiCAD/**/fp-info-cache
hardware/KiCAD/**/fp-info-cache/**
hardware/KiCAD/**/*-backups/
hardware/KiCAD/**/library/archive/
hardware/KiCAD/**/*.kicad_prl
hardware/KiCAD/**/*.lck
hardware/KiCAD/**/*.zip
hardware/KiCAD/**/*.bak
hardware/KiCAD/**/*.kicad_pro-bak
hardware/KiCAD/**/*.kicad_sch-bak
hardware/KiCAD/**/*.kicad_pcb-bak
hardware/KiCAD/**/*~